header {
 margin: auto; 
}
img {
  margin: auto;
}
a {
  width: 10px;
  background-color: grey 
}
#figcaption {
  font-size: small;
  margin: auto;
}
p #featured-property {
 width: 800px;
 margin: auto;
}
#details div {
  display: block;
  float: left;
}
div {
  background-color: ; 
  margin: ;
  width: 25%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
